extends ../layouts/layout-special-page

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		if post.heroImage.exists
			.gallery-image.img-rounded
				.gallery-image-content
					div
						a(href='/'+[getLocale(req)]+'/blog/post/' + post.slug)
							img(src=post._.heroImage.fit(900,900))
		h3.text-uppercase: a(href='/'+[getLocale(req)]+'/blog/post/' + post.slug)= post.title
		p.lead.text-muted 
			if post.author
				| #{__("by")} &nbsp;
				span
					| #{post.author.name.first} &nbsp;
			if post.publishedDate
				| #{__("on")} &nbsp;
				span= post._.publishedDate.format('MMMM Do, YYYY')
			if post.categories && post.categories.length
				| in 
				each cat, i in post.categories
					a(href='/'+[getLocale(req)]+'/blog/' + cat.key)= cat.name
					if i < post.categories.length - 1
						| , 
					else
						|  
		p!= post.content.brief[getLocale(req)]
		if post.content.extended
			.control-group &nbsp;
			p.read-more
				a.text-uppercase(href='/'+[getLocale(req)]+'/blog/post/' + post.slug)
					| #{__("Read more")} 
					i.fa.fa-chevron-right(aria-hidden="true")

block header
	#header.header
		.background
			div(style="background-image:url('" + data.page.headerImage.url + "')" )
				.background-filter
					.header-content
						.header-row-logo
							.header-logo
								a(href='/'+[getLocale(req)]+'/'): img.img-responsive(src='/images/logo-white.png')
						.header-row-title
							.header-title.text-center
								h1.text-uppercase #{data.page.title[getLocale(req)]}
								.container-fluid
									.row
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
										.col-xs-2.col-sm-2.col-md-2.col-lg-2
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
								h2.text-uppercase #{data.page.subTitle[getLocale(req)]}
		//-- end header

block content
	.container-fluid.blog: .row
		.col-sm-3.col-md-3
			.block-sidebar
				h3.text-uppercase #{__("Instagram Photos")}
				hr/
			.block-sidebar
				h3.text-uppercase #{__("Subscribe our newsletter")}
				if getLocale(req).toLowerCase() === 'en'
					//-- Begin MailChimp Signup Form
					div#mc_embed_signup
						form.form-inline.text-center.col-xs-12.col-sm-12.col-md-12.col-lg-12(action="//hotelamalfiroma.us13.list-manage.com/subscribe/post?u=7b98d3d8247b1093beb2b292f&amp;id=8473731a88" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
							div#mc_embed_signup_scroll
								.mc-field-group
									label.sr-only.text-uppercase(for="mce-EMAIL") #{__('NewsletterLabel')}
									input#mce-EMAIL.form-control.required.email.col-sm-8.col-md-8(type='email' placeholder=__('NewsletterInput') value="" name="EMAIL")
									input.btn.btn-default.text-uppercase.col-sm-4.col-md-4(type="submit" value=__("Subscribe") name="subscribe" id="mc-embedded-subscribe" class="button")
								div#mce-responses.clear
									div#mce-error-response.response(style="display:none")
									div#mce-success-response.response(style="display:none")
								div(style="position: absolute; left: -5000px;" aria-hidden="true")
									input(type="text" name="b_7b98d3d8247b1093beb2b292f_8473731a88" tabindex="-1" value="")
								.clear
					script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
					script(type='text/javascript').
						(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
					.control-group &nbsp;
					.control-group &nbsp;
				if getLocale(req).toLowerCase() === 'it'
					//-- Begin MailChimp Signup Form
					div#mc_embed_signup
						form.form-inline.text-center.col-xs-12.col-sm-12.col-md-12.col-lg-12(action="//hotelamalfiroma.us13.list-manage.com/subscribe/post?u=7b98d3d8247b1093beb2b292f&amp;id=5b2d858ea4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
							div#mc_embed_signup_scroll
								.mc-field-group
									label.sr-only.text-uppercase(for="mce-EMAIL") #{__('NewsletterLabel')}
									input#mce-EMAIL.form-control.required.email.col-sm-8.col-md-8(type='email' placeholder=__('NewsletterInput') value="" name="EMAIL")
									input.btn.btn-default.text-uppercase.col-sm-4.col-md-4(type="submit" value=__("Subscribe") name="subscribe" id="mc-embedded-subscribe" class="button")
								div#mce-responses.clear
									div#mce-error-response.response(style="display:none")
									div#mce-success-response.response(style="display:none")
								div(style="position: absolute; left: -5000px;" aria-hidden="true")
									input(type="text" name="b_7b98d3d8247b1093beb2b292f_5b2d858ea4" tabindex="-1" value="")
								.clear
					script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
					script(type='text/javascript').
						(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
					.control-group &nbsp;
					.control-group &nbsp;
				hr/
			.block-sidebar
				h3.text-uppercase #{__("Tags")}
				.block-sidebar
					ul.tags-group.row
						each tag in data.tags
							li.text-uppercase.col-sm-12.col-md-6
								a(href='/'+[getLocale(req)]+'/blog/tag/' + tag.key, class=data.tag && data.tag.id == tag.id ? 'active' : false)= tag.tagName[getLocale(req)]
				hr/

		.col-sm-6.col-md-6.blog-content
			if filters.category && !data.category
				h3.text-muted #{__("Invalid Category.")}
			else
				if data.posts.results.length
					//- if data.posts.totalPages > 1
					//-	h4.text-weight-normal Showing 
					//-		strong #{data.posts.first}
					//-		|  to 
					//-		strong #{data.posts.last}
					//-		|  of 
					//-		strong #{data.posts.total}
					//-		|  posts.
					//- else
					//-	h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
					.blog-item
						each post in data.posts.results
							+post(post)

					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						h3.text-muted There are no posts in the category #{data.category.name}.
					else
						h3.text-muted There are no posts yet.

		if data.categories.length
			.col-sm-3.col-md-3
				.block-sidebar
					h3.text-uppercase #{__("Categories")}
					ul.category-group
						li.text-uppercase
							i.fa.fa-angle-double-right(aria-hidden="true")
							a(href='/'+[getLocale(req)]+'/blog', class=!data.category ? 'active' : false) #{__("All Categories")}
						each cat in data.categories
							li.text-uppercase
								i.fa.fa-angle-double-right(aria-hidden="true")
								a(href='/'+[getLocale(req)]+'/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false)= __(cat.name)
					hr/
				.block-sidebar
					h3.text-uppercase #{__("Twitter Feeds")}
					hr/
				.block-sidebar
					h3.text-uppercase #{__("Social Icons")}
					.control-group &nbsp;
					ul.social-icon-list
						if data.socialAndFooter.facebook
							li: a.text-uppercase(class="facebook" target="_blank" href=data.socialAndFooter.facebook)
						if data.socialAndFooter.instagram
							li: a.text-uppercase(class="instagram" target="_blank" href=data.socialAndFooter.instagram)
						if data.socialAndFooter.twitter
							li: a.text-uppercase(class="twitter" target="_blank" href=data.socialAndFooter.twitter)
						if data.socialAndFooter.pinterest
							li: a.text-uppercase(class="pinterest" target="_blank" href=data.socialAndFooter.pinterest)
						if data.socialAndFooter.googleplus
							li: a.text-uppercase(class="googleplus" target="_blank" href=data.socialAndFooter.googleplus)
					hr/
				.block-sidebar
					h3.text-uppercase #{__("Get in touch")}
					.control-group &nbsp;
					form(method='post' action='/'+[getLocale(req)]+'/contact')
						input(type='hidden', name='action', value='contact')
						.form-group(class=validationErrors.email ? 'has-error' : null)
							label #{__("Email")}
							input(type='email', name='email', value=formData.email).form-control
						.form-group(class=validationErrors.name ? 'has-error' : null)
							label #{__("Name")}
							input(type='text', name='name.full', value=formData['name.full']).form-control
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label #{__("Message")}
							textarea(name='message', placeholder=__('Leave us a message...') rows=4).form-control= formData.message
						.form-actions
							button(type='submit').btn.btn-primary.col-sm-12 #{__("Send")}
					hr/
