extends ../layouts/layout-special-page

block header
	#header.header
		.background
			div(style="background-image:url('" + data.page.headerImage.url + "')" )
				.background-filter
					.header-content
						.header-row-logo
							.header-logo
								a(href='/'+[getLocale(req)]+'/'): img.img-responsive(src='/images/logo-white.png' alt="Hotel Amalfi Roma")
						.header-row-title
							.header-title.text-center
								h1.text-uppercase #{data.page.title}
								.container-fluid
									.row
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
										.col-xs-2.col-sm-2.col-md-2.col-lg-2
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
								h2.text-uppercase #{data.page.subTitle}
		//-- end header

block css
	link(href="/styles/lightbox.css" rel="stylesheet")

block content
	.container-fluid.gallery
		if galleries.length
			each gallery, index in galleries
				.row.gallery-images
					if gallery.heroImage.exists
						.col-sm-3.col-md-3
							.gallery-image
								.gallery-image-content
									div
										a(href=gallery._.heroImage.limit(1900,1900) data-lightbox="roadtrip")
											img(src=gallery._.heroImage.limit(680,680) alt=gallery.name+' '+index)
					each image in gallery.images
						.col-sm-3.col-md-3
							.gallery-image
								.gallery-image-content
									div
										a(href=image.limit(1900,1900) data-lightbox="roadtrip")
											img(src=image.limit(680,680) alt=gallery.name+' '+index)


block js
	script(src='/js/lightbox.js')

	script(type="text/javascript").
		$(function () {
			lightbox.option({
				'resizeDuration': 200,
				'wrapAround': true
			});
		});
