extends ../layouts/layout-special-page

block header
	#header.header
		.background
			div(style="background-image:url('" + data.page.headerImage.url + "')" )
				.background-filter
					.header-content
						.header-row-logo
							.header-logo
								a(href='/'+[getLocale(req)]+'/'): img.img-responsive(src='/images/logo-white.png' alt="Hotel Amalfi Roma")
						.header-row-title
							.header-title.text-center
								h1.text-uppercase #{data.page.title}
								.container-fluid
									.row
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
										.col-xs-2.col-sm-2.col-md-2.col-lg-2
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
								h2.text-uppercase #{data.page.subTitle}
		//-- end header

block content
	.container-fluid
		.control-group &nbsp;
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xs-push-0.col-sm-push-0.col-md-push-0.col-lg-push-6
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center.rectangle-container
						h3.text-uppercase  #{data.page.textBlockTitle}
						h4.text-uppercase.second-color  #{data.page.textBlockSubTitle}
						!= data.page.textBlockContent
				.row
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						.square-box
							.square-content
								div(style="background-image:url('"+ data.page.linkBlock2Image.url +"')")
								a(href='/'+[getLocale(req)]+data.page.linkBlock2Url)
									span.h2.text-uppercase #{data.page.linkBlock2Text}
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						.hidden-md.hidden-lg.control-group &nbsp;
						.square-box
							.square-content
								div(style="background-image:url('"+ data.page.linkBlock3Image.url +"')")
								a(href='/'+[getLocale(req)]+data.page.linkBlock3Url)
									span.h2.text-uppercase #{data.page.linkBlock3Text}
					.control-group &nbsp;
			.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xs-pull-0.col-sm-pull-0.col-md-pull-0.col-lg-pull-6
				.square-box
					.square-content
						div(style="background-image:url('"+ data.page.linkBlock1Image.url +"')")
						a(href='/'+[getLocale(req)]+data.page.linkBlock1Url)
							span.h2.text-uppercase #{data.page.linkBlock1Text}
		//-- end squared boxes

		if data.events
			.control-group &nbsp;
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h3.text-uppercase.text-center #{data.page.eventsBlockTitle}
					h4.text-uppercase.second-color.text-center #{data.page.eventsBlockSubTitle}
					.control-group &nbsp;
					.row
						.col-xs-2.col-sm-2.col-md-2.col-lg-2
						.col-xs-8.col-sm-8.col-md-8.col-lg-8
							.row
								each event in data.events
									.col-xs-6.col-sm-6.col-md-4.col-lg-4
										.square-box.event-item
											a.square-content(href='/'+[getLocale(req)]+'/blog/post/'+event.slug)
												span.event-content-table
													span.event-content-cell
														span.event-icon(class=event.eventIcon)
														span.event-title.text-uppercase.text-center= event.title
														if event.eventDate
															span.event-date.text-uppercase.text-center= event._.eventDate.format('DD MMMM YYYY')
						.col-xs-2.col-sm-2.col-md-2.col-lg-2
			//-- end events

		.control-group &nbsp;
		.container-newsletter
			.control-group &nbsp;
			h3.text-uppercase.text-center #{data.page.newsletterBlockTitle}
			h4.text-uppercase.second-color.text-center #{data.page.newsletterBlockSubTitle}
			.control-group &nbsp;
			
			if getLocale(req).toLowerCase() === 'en'
				//-- Begin MailChimp Signup Form
				div#mc_embed_signup
					form.form-inline.text-center.col-xs-12.col-sm-12.col-md-12.col-lg-12(action="//hotelamalfiroma.us13.list-manage.com/subscribe/post?u=7b98d3d8247b1093beb2b292f&amp;id=8473731a88" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
						div#mc_embed_signup_scroll
							.mc-field-group
								label.sr-only.text-uppercase(for="mce-EMAIL") #{__('NewsletterLabel')}
								input#mce-EMAIL.form-control.required.email(type='email' placeholder=__('NewsletterInput') value="" name="EMAIL")
								input.btn.btn-default.text-uppercase(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button")
							div#mce-responses.clear
								div#mce-error-response.response(style="display:none")
								div#mce-success-response.response(style="display:none")
							div(style="position: absolute; left: -5000px;" aria-hidden="true")
								input(type="text" name="b_7b98d3d8247b1093beb2b292f_8473731a88" tabindex="-1" value="")
							.clear
				script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
				script(type='text/javascript').
					(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
				.control-group &nbsp;
				.control-group &nbsp;
			if getLocale(req).toLowerCase() === 'it'
				//-- Begin MailChimp Signup Form
				div#mc_embed_signup
					form.form-inline.text-center.col-xs-12.col-sm-12.col-md-12.col-lg-12(action="//hotelamalfiroma.us13.list-manage.com/subscribe/post?u=7b98d3d8247b1093beb2b292f&amp;id=5b2d858ea4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
						div#mc_embed_signup_scroll
							.mc-field-group
								label.sr-only.text-uppercase(for="mce-EMAIL") #{__('NewsletterLabel')}
								input#mce-EMAIL.form-control.required.email(type='email' placeholder=__('NewsletterInput') value="" name="EMAIL")
								input.btn.btn-default.text-uppercase(type="submit" value=__('Subscribe') name="subscribe" id="mc-embedded-subscribe" class="button")
							div#mce-responses.clear
								div#mce-error-response.response(style="display:none")
								div#mce-success-response.response(style="display:none")
							div(style="position: absolute; left: -5000px;" aria-hidden="true")
								input(type="text" name="b_7b98d3d8247b1093beb2b292f_5b2d858ea4" tabindex="-1" value="")
							.clear
				script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
				script(type='text/javascript').
					(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
				.control-group &nbsp;
				.control-group &nbsp;
		//-- end newsletter
		
	if data.tours
		.control-group &nbsp;
		.container-fluid
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					.container-fluid
						.row
							each tour in data.tours
								.col-xs-12.col-sm-4.col-md-4.col-lg-4
									.hidden-sm.hidden-md.hidden-lg.control-group &nbsp;
									.tour-item
										.tour-item-content
											div(style='background-image: url('+tour._.heroImage.limit(680,680)+');')
											a(href='/'+[getLocale(req)]+'/blog/post/'+tour.slug)
												h3.tour-subtitle.text-uppercase.text-center
													span= tour.categories.name
												h2.tour-title.text-uppercase.text-center
													span= tour.title
				.control-group &nbsp;
		//-- end tours


	if data.testimonials
		.testimonials
			.testimonials-background
				.testimonials-background-filter
					.testimonials-content
						.control-group &nbsp;
						.control-group &nbsp;
						h3.text-uppercase.text-center #{data.page.testimonialsBlockTitle}
						h4.text-uppercase.second-color.text-center #{data.page.testimonialsBlockSubTitle}
						.control-group &nbsp;
						.text-center.separator &ldquo;
						each testimonial in data.testimonials
							.testimonials-item
								p.text-center.text-uppercase= testimonial.name
								.text-center.text-uppercase!= testimonial.description
								.control-group &nbsp;
								p.text-center.text-uppercase= testimonial.author
							.control-group &nbsp;
							ul.testimonials-nav
								li(class=testimonial.icon)
									| &nbsp;
						.control-group &nbsp;
		//-- end testimonials

	.control-group &nbsp;
	.pre-footer
		.container-fluid
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					.control-group &nbsp;
					.control-group &nbsp;
					.row
						.col-xs-2.col-sm-2.col-md-2.col-lg-2
						.col-xs-8.col-sm-8.col-md-8.col-lg-8
							.row
								.col-xs-12.col-sm-4.col-md-4.col-lg-4.text-center
									img(src=data.page.promoColumn1Image.url alt=data.page.promoColumn1Title)
									h4 #{data.page.promoColumn1Title}
									p #{data.page.promoColumn1Text}
								.col-xs-12.col-sm-4.col-md-4.col-lg-4.text-center
									img(src=data.page.promoColumn2Image.url alt=data.page.promoColumn2Title)
									h4 #{data.page.promoColumn2Title}
									p #{data.page.promoColumn2Text}
								.col-xs-12.col-sm-4.col-md-4.col-lg-4.text-center
									img(src=data.page.promoColumn3Image.url alt=data.page.promoColumn3Title)
									h4 #{data.page.promoColumn3Title}
									p #{data.page.promoColumn3Text}
						.col-xs-2.col-sm-2.col-md-2.col-lg-2
					.control-group &nbsp;
					.control-group &nbsp;
	//-- end pre footer
