extends ../layouts/layout-post

block header
	#header.header.header-short
		.background
			div
				.background-filter
					.header-content
						.header-row-logo
							.header-logo
								a(href='/'+[getLocale(req)]+'/'): img.img-responsive(src='/images/logo-black.png' alt="Hotel Amalfi Roma")
						.header-row-title
							.header-title.text-center
							//-
								h1.text-uppercase #{data.page.title[getLocale(req)]}
								.container-fluid
									.row
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
										.col-xs-2.col-sm-2.col-md-2.col-lg-2
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
								h2.text-uppercase #{data.page.subTitle[getLocale(req)]}
		//-- end header

block content
	.container-fluid.single-post: .row: .col-sm-12.col-md-12
		article
			if !data.post
				h2 Invalid Post.
			else
				header
					h1.text-uppercase.text-center= data.post.title

				.control-group &nbsp;
				.control-group &nbsp;
				.post-images.text-center
					img.img-responsive.text-center(src=data.post._.heroImage.fit(1900,1000) alt=data.post.title)
				.control-group &nbsp;
				.control-group &nbsp;
				.row
					.col-sm-8.col-md-8
						!= data.post.content.full
					.col-sm-3.col-md-3.col-sm-offset-1.col-md-offset-1
						if data.post.author
							.post-sidebar
								h3.text-uppercase: span #{__("Published by")}
								p.lead
									| #{data.post.author.name.first} 
									if data.post.publishedDate
										span.text-muted #{__("on")}
										| &nbsp; #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
								.control-group &nbsp;
						
						if data.post.categories
							.post-sidebar
								h3.text-uppercase: span #{__("Blog category")}
								a(href='/'+[getLocale(req)]+'/blog/' + data.post.categories.key)= __(data.post.categories.name)
								.control-group &nbsp;
								.control-group &nbsp;
								
						if data.post.tags
							.post-sidebar
								h3.text-uppercase: span #{__("Blog tag")}
								ul.tags-group
									each tag in data.post.tags
										li.text-uppercase.col-sm-12.col-md-6
											a(href='/'+[getLocale(req)]+'/blog/tag/' + tag.key)= tag.name
								.control-group.clearfix &nbsp;
								.control-group &nbsp;
								.control-group &nbsp;

						.post-sidebar
							h3.text-uppercase: span #{__("Share")}
							ul.social-share
								li: a.facebook(href="https://www.facebook.com/sharer/sharer.php?u="+data.post.shareUrl target="_blank")
								li: a.twitter(href="https://twitter.com/home?status="+data.post.shareUrl target="_blank")
								li: a.pinterest(href="https://pinterest.com/pin/create/button/?url="+data.post.shareUrl+"&media=&description=" target="_blank")
								//-li: a.instagram(href="#")
								li: a.googleplus(href="https://plus.google.com/share?url="+data.post.shareUrl target="_blank")
							.control-group &nbsp;
							.control-group &nbsp;
						
	.navigation-posts
		.pull-left
			if locals.data.previous && locals.data.previous.length
				each previous in locals.data.previous
					.caption.text-left.text-uppercase #{__("Previous post")}
					h3.text-left.text-uppercase
						i.fa.fa-chevron-left(aria-hidden="true")
						a(href='/'+[getLocale(req)]+'/blog/post/' + previous.slug)= previous.title
		.pull-right
			if locals.data.next && locals.data.next.length
				each next in locals.data.next
					.caption.text-right.text-uppercase #{__("Next post")}
					h3.text-right.text-uppercase
						a(href='/'+[getLocale(req)]+'/blog/post/' + next.slug)= next.title
						i.fa.fa-chevron-right(aria-hidden="true")
		.clearfix

block js
	script(type="text/javascript").
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();

			var slider1 = new MasterSlider();
			slider1.control('arrows');
			slider1.setup('masterslider' , {width: 1000,height: 650,space:5,layout: 'fillwidth',autoplay: true,arrows: true,loop: true});
		});
