include ../mixins/flash-messages

doctype html
html

	include partials/head

	block seo
		if data.post
			if data.post.meta.title[getLocale(req)]
				title= data.post.meta.title[getLocale(req)]
				meta(property="og:title" content=data.post.meta.title[getLocale(req)])
				meta(name="twitter:title" content=data.post.meta.title[getLocale(req)])
			else
				title= data.post.postTitle[getLocale(req)]
				meta(property="og:title" content=data.post.postTitle[getLocale(req)])
				meta(name="twitter:title" content=data.post.postTitle[getLocale(req)])
			if data.post.meta.description[getLocale(req)]
				meta(name="description" content=data.post.meta.description[getLocale(req)])
				meta(property="og:description" content=data.post.meta.description[getLocale(req)])
				meta(name="twitter:description" content=data.post.meta.description[getLocale(req)])
			else
				meta(name="description" content=data.post.content.brief[getLocale(req)])
				meta(property="og:description" content=data.post.content.brief[getLocale(req)])
				meta(name="twitter:description" content=data.post.content.brief[getLocale(req)])
			<meta property="og:type" content="article">
			if data.post.heroImage
				meta(name="twitter:card" content="summary_large_image")
				meta(property="og:image" content=data.post.heroImage.url)
				meta(name="twitter:image:src" content=data.post.heroImage.url)
			meta(property="og:url" content=data.post.fullPostUrl)
			meta(name="twitter:url" content=data.post.fullPostUrl)
			meta(property="article:published_time" content=data.post.publishedDate)
			each tag in data.post.tags
				meta(property="article:tag" content=tag.tagName[getLocale(req)])

	//- HTML BODY
	body

		.navbar-post
			include partials/navbar

		block header

		block content

		include partials/footer

		include partials/scripts
