nav.navbar.navbar-default.navbar-fixed-top
	.container-fludid
		.navbar-header
			button.navbar-toggle.menu-opener(type='button')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			ul.nav.navbar-nav.navbar-left
				li
					a(href='javascript:void(0)').menu-opener.text-uppercase #{__('MENU')}
		//-- Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				if data.languages
					li.dropdown
						a.dropdown-toggle.current-language.text-uppercase(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| #{getLocale(req)}
							span.caret
						ul.dropdown-menu.select-language
							each language in data.languages
								li.text-uppercase
									a(href='/'+language data-lang=language)= language
			ul.nav.navbar-nav.navbar-left
				li.nav.navbar-nav.navbar-logo
					a(href='/'+[getLocale(req)]+'/'): img.img-responsive(src='/images/logo-white.png' alt="Hotel Amalfi Roma")
			ul.nav.navbar-nav.navbar-right
				li
					a.text-uppercase.booknow-opener(href='#') #{__('BOOKNOW')}
//-- end navbar

.menu
	.row
		.menu-content.col-sm-12.col-md-7
			.menu-header.row
				.col-sm-2.col-md-2
					a.menu-closer(href='#')
						img(src='/images/close.png' align='middle' alt="close")
				.col-sm-10.col-md-10
					h3.text-right
						span.text-uppercase
							| #{__('Roma')}
							span
								small
									br
									spam#clock
			.control-group &nbsp;
			.row
				.col-sm-12.col-md-3.text-left
					ul
						each link in navLinks
							if link.header
								li(class=(section == link.key ? 'active' : null)): a.text-uppercase(href='/'+[getLocale(req)]+link.href)= __(link.label)
					.control-group &nbsp;
					div
						img(src='/images/logo-footer.png' alt="Hotel Amalfi" class="img-responsive")
				.col-sm-12.col-md-9.text-left.hidden-xs
					div#weather.row
					div.news-offers.row
						.col-sm-12.col-md-12
							h2.text-uppercase
								| #{__('News & Offerte')}
							.col-sm-12.col-md-5
								h3.text-uppercase
									a(href='/'+[getLocale(req)]+'/blog/post/'+data.lastNews.slug)= data.lastNews.title
							.col-sm-12.col-md-7
								img(src=data.lastNews._.heroImage.limit(800,300)).img-responsive
					.control-group &nbsp;
					.menu-footer.row
						.col-sm-8.col-md-8
							ul
								if data.socialAndFooter.facebook
									li: a.text-uppercase(class="facebook" target="_blank" href=data.socialAndFooter.facebook)
								if data.socialAndFooter.instagram
									li: a.text-uppercase(class="instagram" target="_blank" href=data.socialAndFooter.instagram)
								if data.socialAndFooter.twitter
									li: a.text-uppercase(class="twitter" target="_blank" href=data.socialAndFooter.twitter)
								if data.socialAndFooter.pinterest
									li: a.text-uppercase(class="pinterest" target="_blank" href=data.socialAndFooter.pinterest)
								if data.socialAndFooter.googlePlus
									li: a.text-uppercase(class="googleplus" target="_blank" href=data.socialAndFooter.googlePlus)
						.col-sm-4.col-md-4.text-right.text-uppercase
							p.booknow
								a.booknow-opener(href='#') #{__('BOOKNOW')}
//-- end menu
