//- Bootstrap core JavaScript
//- Placed at the end of the document so the pages load faster
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='/js/jquery-ui.js')
script(src='/js/bootstrap.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-instagram/0.3.1/instagram.js')
script(src='/js/plugins/masterslider/masterslider.min.js')
script(src='/js/bower_components/instafeed.js/instafeed.js')
script(src='/js/bower_components/moment/moment.js')
script(src='/js/bower_components/simpleWeather/jquery.simpleWeather.js')
script(src='/js/bower_components/masonry/dist/masonry.pkgd.min.js')
	
if getLocale(req) !== 'en'
	script(src='/js/bower_components/moment/locale/'+getLocale(req)+'.js')
script(src='/js/script.js')


//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
//- which generate links to edit content for users who can access Keystone
if user && user.canAccessKeystone
	script(src='/keystone/js/content/editor.js')

//- Add scripts that are globally required by your site here.

script(type="text/javascript").
	$(function () {
		window.setInterval(function(){
			var date = new Date();
			date.setHours(date.getHours() - 1);
			$("#clock1").html(moment(date).format("DD MMMM YYYY HH:mm"));
		}, 1000);
		window.setInterval(function(){
			var date = new Date();
			date.setHours(date.getHours() - 6);
			$("#clock2").html(moment(date).format("DD MMMM YYYY HH:mm"));
		}, 1000);
		window.setInterval(function(){
			$("#clock3").html(moment().format("DD MMMM YYYY HH:mm"));
		}, 1000);
	});

	$(document).ready(function() {
		$.simpleWeather({
			location: 'Roma, IT',
			woeid: '',
			unit: 'c',
			success: function(weather) {
				html = '<div class="col-sm-12 col-md-4"><p class="text-uppercase">#{__("Oggi")}</p><h2><i class="icon-'+weather.code+'"></i></h2>';
				html += '<p>' + weather.low+'&deg;&nbsp;/&nbsp;' + weather.high + '</p></div>';
				html += '<div class="col-sm-12 col-md-4"><p class="text-uppercase">#{__("Domani")}</p><h2><i class="icon-'+weather.forecast[1].code+'"></i></h2>';
				html += '<p>' + weather.forecast[1].low+'&deg;&nbsp;/&nbsp;' + weather.forecast[1].high + '</p></div>';
				html += '<div class="col-sm-12 col-md-4"><p class="text-uppercase">#{__("Dopodomani")}</p><h2><i class="icon-'+weather.forecast[2].code+'"></i></h2>';
				html += '<p>' + weather.forecast[2].low+'&deg;&nbsp;/&nbsp;' + weather.forecast[2].high + '</p></div>';
				$("#weather").html(html);
			},
			error: function(error) {
				$("#weather").html('<p>'+error+'</p>');
			}
		});
	});

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
script(type="text/javascript").
	window.cookieconsent_options = {"message":"#{__('This website uses cookies to ensure you get the best experience on our website')}","dismiss":'#{__("Got it!")}',"learnMore":'#{__("More info")}',"link":"http://www.hotelamalfiroma.it/"+'#{getLocale(req)}'+"/privacy","theme":"dark-bottom"};
script(src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js')
<!-- End Cookie Consent plugin -->
